In [ ]:
import pandas as pd
lol = pd.read_csv('lol_data.csv')

In [ ]:
lol.head()

       gameId  blueWins  ...  redCSPerMin  redGoldPerMin
0  4519157822         0  ...         19.7         1656.7
1  4523371949         0  ...         24.0         1762.0
2  4521474530         0  ...         20.3         1728.5
3  4524384067         0  ...         23.5         1647.8
4  4436033771         0  ...         22.5         1740.4

[5 rows x 40 columns]

#**Summary statistics**
Aggregating data. Are numbers that summarize and tell you about your dataset.

In [ ]:
lol.columns

Index(['gameId', 'blueWins', 'blueWardsPlaced', 'blueWardsDestroyed',
       'blueFirstBlood', 'blueKills', 'blueDeaths', 'blueAssists',
       'blueEliteMonsters', 'blueDragons', 'blueHeralds',
       'blueTowersDestroyed', 'blueTotalGold', 'blueAvgLevel',
       'blueTotalExperience', 'blueTotalMinionsKilled',
       'blueTotalJungleMinionsKilled', 'blueGoldDiff', 'blueExperienceDiff',
       'blueCSPerMin', 'blueGoldPerMin', 'redWardsPlaced', 'redWardsDestroyed',
       'redFirstBlood', 'redKills', 'redDeaths', 'redAssists',
       'redEliteMonsters', 'redDragons', 'redHeralds', 'redTowersDestroyed',
       'redTotalGold', 'redAvgLevel', 'redTotalExperience',
       'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redGoldDiff',
       'redExperienceDiff', 'redCSPerMin', 'redGoldPerMin'],
      dtype='object')

Mean tells you where the center of your data is.



```
.median()
.mode()
.min()
.max()
.var()
.std()
.sum()
.quantile()
```

Blue side wins mean:

In [ ]:
lol['blueWins'].mean()

0.4990383642069035

30 and 40 porcentile of Blue Side Kills:

In [ ]:
def pct40(column):
  return column.quantile(0.4)

def pct30(column):
  return column.quantile(0.3)

lol['blueKills'].agg([pct30, pct40])

pct30    4.0
pct40    5.0
Name: blueKills, dtype: float64

#**Cumulative sum**


```
.cumsum()
.cummax()
.cummin()
.cumprod()
```


Cumulative sum of blue side kills:

In [ ]:
lol['blueKills'].cumsum()

0           9
1          14
2          21
3          25
4          31
        ...
9874    61071
9875    61077
9876    61083
9877    61085
9878    61091
Name: blueKills, Length: 9879, dtype: int64

In [ ]:
lol['blueKills'].cummax()

0        9
1        9
2        9
3        9
4        9
        ..
9874    22
9875    22
9876    22
9877    22
9878    22
Name: blueKills, Length: 9879, dtype: int64

In [ ]:
lol['blueKills'].cummin()

0       9
1       5
2       5
3       4
4       4
       ..
9874    0
9875    0
9876    0
9877    0
9878    0
Name: blueKills, Length: 9879, dtype: int64

In [ ]:
lol['blueKills'].cumprod()

0          9
1         45
2        315
3       1260
4       7560
        ...
9874       0
9875       0
9876       0
9877       0
9878       0
Name: blueKills, Length: 9879, dtype: int64

#**Summarize categorical data using count**

##**Dropping duplicate**
Our dataset doesn't have duplicate entries, but we will do it anyway, just to see the syntax.

In [ ]:
lol.drop_duplicates(subset='gameId').head()
#This would remove duplicated game IDs, if they exist

       gameId  blueWins  ...  redCSPerMin  redGoldPerMin
0  4519157822         0  ...         19.7         1656.7
1  4523371949         0  ...         24.0         1762.0
2  4521474530         0  ...         20.3         1728.5
3  4524384067         0  ...         23.5         1647.8
4  4436033771         0  ...         22.5         1740.4

[5 rows x 40 columns]

We can also consider two or more columns when dropping duplicates.

In [ ]:
lol.drop_duplicates(subset=['gameId', 'blueTotalExperience']).head()

       gameId  blueWins  ...  redCSPerMin  redGoldPerMin
0  4519157822         0  ...         19.7         1656.7
1  4523371949         0  ...         24.0         1762.0
2  4521474530         0  ...         20.3         1728.5
3  4524384067         0  ...         23.5         1647.8
4  4436033771         0  ...         22.5         1740.4

[5 rows x 40 columns]

#**Counting**

In [ ]:
lol['blueWins'].value_counts()

0    4949
1    4930
Name: blueWins, dtype: int64

In [ ]:
lol['blueWardsPlaced'].value_counts(sort=True)

16     1255
15     1217
17      988
14      974
18      831
       ...
130       1
198       1
7         1
209       1
183       1
Name: blueWardsPlaced, Length: 147, dtype: int64

We can use normalize argument to set proportions!

In [ ]:
lol['blueWardsPlaced'].value_counts(normalize=True)

16     0.127037
15     0.123191
17     0.100010
14     0.098593
18     0.084118
         ...
130    0.000101
198    0.000101
7      0.000101
209    0.000101
183    0.000101
Name: blueWardsPlaced, Length: 147, dtype: float64

#**Group By!**

In [ ]:
lol.groupby('blueWins')['blueKills'].mean()

blueWins
0    5.170135
1    7.201623
Name: blueKills, dtype: float64

We can use agg with group by!

In [ ]:
lol.groupby('blueWins')['blueKills'].agg([min, max, sum])

          min  max    sum
blueWins
0           0   16  25587
1           0   22  35504

We can also group by multiple columns and aggregate by multiple columns!

In [ ]:
lol.columns

Index(['gameId', 'blueWins', 'blueWardsPlaced', 'blueWardsDestroyed',
       'blueFirstBlood', 'blueKills', 'blueDeaths', 'blueAssists',
       'blueEliteMonsters', 'blueDragons', 'blueHeralds',
       'blueTowersDestroyed', 'blueTotalGold', 'blueAvgLevel',
       'blueTotalExperience', 'blueTotalMinionsKilled',
       'blueTotalJungleMinionsKilled', 'blueGoldDiff', 'blueExperienceDiff',
       'blueCSPerMin', 'blueGoldPerMin', 'redWardsPlaced', 'redWardsDestroyed',
       'redFirstBlood', 'redKills', 'redDeaths', 'redAssists',
       'redEliteMonsters', 'redDragons', 'redHeralds', 'redTowersDestroyed',
       'redTotalGold', 'redAvgLevel', 'redTotalExperience',
       'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redGoldDiff',
       'redExperienceDiff', 'redCSPerMin', 'redGoldPerMin'],
      dtype='object')

In [ ]:
lol.groupby(['blueWins', 'blueFirstBlood'])[['blueWardsPlaced','redWardsPlaced']].mean()

                         blueWardsPlaced  redWardsPlaced
blueWins blueFirstBlood
0        0                     22.002035       22.958291
         1                     22.706500       22.576500
1        0                     22.574884       22.370046
         1                     22.104453       21.644125

#**Pivot tables**
Yes, like Excel

Is a way of calculating grouped summary statistics. 

####**From group by to pivot table**

In [ ]:
lol.groupby('blueWins')['blueFirstBlood'].mean()

blueWins
0    0.404122
1    0.605882
Name: blueFirstBlood, dtype: float64

In [ ]:
lol.pivot_table(values = 'blueFirstBlood', index = 'blueWins')

          blueFirstBlood
blueWins
0               0.404122
1               0.605882

The **values** argument is what do we want to summarize. 

The **index** argument is the column we want to group by.


By default, pivot tables takes the main value for each group.

For getting a different summary statistic, we can use aggfunc argument and pass it a function

In [ ]:
import numpy as np
lol.pivot_table(values = 'blueFirstBlood', index = 'blueWins', aggfunc = np.median)

          blueFirstBlood
blueWins
0                      0
1                      1

In [ ]:
import numpy as np
lol.pivot_table(values = 'blueFirstBlood', index = 'blueWins', aggfunc = [np.median, np.mean])

                 median           mean
         blueFirstBlood blueFirstBlood
blueWins
0                     0       0.404122
1                     1       0.605882

In [ ]:
lol.groupby(['blueWins', 'blueFirstBlood'])[['blueWardsPlaced','redWardsPlaced']].mean()

                         blueWardsPlaced  redWardsPlaced
blueWins blueFirstBlood
0        0                     22.002035       22.958291
         1                     22.706500       22.576500
1        0                     22.574884       22.370046
         1                     22.104453       21.644125

In [ ]:
lol.pivot_table(values = 'blueWardsPlaced', index = 'blueWins', columns = 'blueFirstBlood')

blueFirstBlood          0          1
blueWins
0               22.002035  22.706500
1               22.574884  22.104453

This can create a little bit of missing values. But we can fill a value:

In [ ]:
lol.pivot_table(values = 'blueWardsPlaced', index = 'blueWins', columns = 'blueFirstBlood', fill_value = 0)

blueFirstBlood          0          1
blueWins
0               22.002035  22.706500
1               22.574884  22.104453

Setting the argument **margins** to true creates a column that contains the mean of all the values in the column or row.

In [ ]:
lol.pivot_table(values = 'blueWardsPlaced', index = 'blueWins', columns = 'blueFirstBlood', fill_value = 0, margins = True)

blueFirstBlood          0          1        All
blueWins
0               22.002035  22.706500  22.286725
1               22.574884  22.104453  22.289858
All             22.229558  22.345899  22.288288