####**Primeiros passos com o Pandas**

---



A primeira coisa que você precisa fazer quando vê uma nova base de dados é explorá-la e ver o que ela contém.

Bons métodos para isso: 
`.head()`
`.info()`
`.shape`
`.describe()`

```
# This is formatted as code
```

In [0]:
import pandas as pd
udemy = pd.read_csv("udemy_courses.csv")

#### **Métodos básicos de exploração**

---


head, info, shape, describe, values e index

In [0]:
udemy.head() #Exibe os 5 primeiros resultados do dataset

In [0]:
udemy.info() # Exibe todas as colunas e o tipo de dados

In [0]:
udemy.shape # Exibe a quantidade de linhas e colunas

In [0]:
udemy.describe() # Exibe dados estatísticos básicos, como média, desvio padrão, mínimo e máximo

In [0]:
udemy.values # Exibe o dataframe como um array 2d numpy

In [0]:
udemy.columns # Mostra as colunas do dataframe

In [0]:
udemy.index # Não entendi muito bem

####**Ordenando colunas**






---

Ordenando por price: A ordenação é ascendente.

In [0]:
sort = udemy.sort_values("price")
sort.head()

Também é possível ordenar usando várias colunas como parâmetro. Para isso, é preciso informar um array com as colunas, como pode ver abaixo:

O curso gratuito com menos inscritos é um curso de baterias indianas.

In [0]:
sort = udemy.sort_values(["price", "num_subscribers"]) 
sort.head()

E é claro, também podemos fazer o contrário e usar a ordem descendente para ver os grande números, informando à função o parâmetro `ascending`, que deve ser `True` ou `False`.

Quando feito com múltiplas colunas, esse parâmetro também deverá ser uma lista.

Nesse caso, percebemos que o curso mais vendido é o de Web Bootcamp. E o curso gratuito com mais inscritos é o de HTML5, com uma quantidade gigante de gente.

In [0]:
sort = udemy.sort_values(["price", "num_subscribers"], ascending = [True, False])
sort.head()

In [0]:
sort = udemy.sort_values(["content_duration", "num_subscribers"], ascending = [False, False])
sort.head()

####**Selecionando colunas**

---

Para selecionar uma coluna, podemos usar os colchetes.

In [0]:
col_select = udemy["course_title"]
col_select.head()

Para múltiplas colunas, precisamos mantê-las em um array:

In [0]:
col_select = udemy[["course_title", "is_paid"]]
col_select.head()

####**Filtrando e selecionando linhas**

---

É possível filtrar usando o nome do dataframe e a coluna que quer filtrar, e em seguida, o filtro.

In [0]:
row_filter = udemy[udemy["is_paid"] == False]
row_filter.head()

Uma coisa muito legal é que é possível também filtrar e selecionar as colunas ao mesmo tempo, sem ter que salvar as informações em outras variáveis, dessa forma:

In [0]:
row_filter = udemy[udemy["price"] > 150][["price", "course_title"]]
row_filter.head()

Conseguimos, por fim, considerar vários filtros diferentes, usando &.

In [0]:
row_filter = udemy[(udemy["price"] > 150) & (udemy["num_subscribers"] > 5000)]
row_filter.head()

Misturando tudo, fica uma bagunça! Mas é legal:

In [0]:
row_filter = udemy[(udemy["price"] > 150) & (udemy["num_subscribers"] > 5000)][
  ["course_title", "price","num_subscribers"]].sort_values(["num_subscribers",
    "price"], ascending = [False, False])
row_filter.head()

Porém, conseguimos simplificar um pouco esse código para deixar mais legível:

In [0]:
price_filter = udemy["price"] > 150
sub_filter = udemy["num_subscribers"] > 5000

row_filter = udemy[price_filter & sub_filter][["course_title", "price",
"num_subscribers"]].sort_values(["num_subscribers", "price"], ascending = 
[False, False])

row_filter.head()

####**Filtrando por categorias, o famoso isin**

---

In [0]:
subject_list = ["Business Finance", "Web Development"]
subject_filter = udemy["subject"].isin(subject_list)
result = udemy[subject_filter]

result.head()

####**Adicionando novas colunas**


---

In [25]:
udemy["review_per_sub"] = udemy["num_reviews"]/udemy["num_subscribers"]
udemy.head()

   course_id  ... review_per_sub
0    1070968  ...       0.010713
1    1113822  ...       0.330587
2    1006314  ...       0.034039
3    1210588  ...       0.004488
4    1011058  ...       0.035266

[5 rows x 13 columns]